<div class="flex w-full items-center px-4 my-5">
  <img class="size-10 sm:size-16"
       src="https://framerusercontent.com/assets/yUkK5egE7b94WICNQRrxrBteBA.webp"
       alt="Better developer logo">
  <p class="ml-2 text-3xl text-white">Weathy</p>
</div>

<div class="flex flex-col items-center justify-center w-full h-screen" [ngClass]="this.weatherService.$CurrentDayBackground()">

  <app-current-day
    [location]="this.weatherService.$Location()"
    [currentDay]=this.weatherService.$CurrentDay()
    [forecasts]=this.weatherService.$Forecast()
    class="flex justify-center items-center mb-44 sm:mb-72 lg:mb-36 w-10/12">
  </app-current-day>
</div>
